body {
  background-color: #29282a;
  color: white;
}

.hidden {
  display: none !important;
}

.error-message {
  color: red;
}

button {
  display: block;
  background-color: black;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

button:hover {
  border-radius: 15px;
  cursor: pointer;
}

#lobby-buttons {
  display: inline;
}

.button-link {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  background-color: hsla(207 100% 43% / 0.84);
}

.button-link:hover {
  background-color: hsla(207 100% 33% / 0.84);
}

.button-link:visited {
  color: white;
}

.title-link {
  text-decoration: none;
}

.title-link:visited {
  color: inherit;
}

#main-game {
  display: flex;
  margin-top: 80px;
}

#canvas-stat-bar-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
}

#game-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
  height: auto;
  /* border: 1px solid white; */
  padding: 10px;
}

#stat-bar {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 5px;
  /* border: 1px solid red; */
}

#main-board {
  position: relative;
  background-color: #3d3d3d;
  margin-top: 10px;
}

.other-board {
  position: relative;
  background-color: #3d3d3d;
  margin-top: 10px;
}